<div class="header">
    <div class="bloco">
        <a href="/" target="_blank">              
        <img src="https://logospng.org/download/tokyo-2020/logo-tokyo-2020-2048.png" width="200" alt="Tokyo 2020" />
        </a>   
    </div>
    <div class="bloco">
        <h1>E o Brasil mantem sua chama acessa em busca de vitórias e medalhas nas Olimpiadas. 
            Conheça os atletas brasileiros classificados para os jogos Olímpicos de Tokyo!</h1>
                
    </div>
    <div class="bloco">
        <h2>Conheça alguns deles aqui!</h2>
    </div>

    <div class= "div-interna-elementos"> 
        <div>
            <img src ="https://media.tenor.com/images/de07c6a8387efc8f12149be31f458ca8/tenor.gif" alt="Personagem ORC" width="200" height="200"/>
            
        </div> 
        <div>
            <img src="https://cdn.pixabay.com/photo/2012/05/07/02/47/green-47700_960_720.png" width="300"  />
        </div>
    </div>
    

    <div class="bloco">
        <a href="/create" class="botao">Quero inserir um atleta! </a>
        <a href="/read" class="botao">Quero ver todos!</a>
       
    </div>

    
    

    <hr>
</div>    